.suggestion{
    &__container{
        position: relative;
    }

    &__list{
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-white);
        width: 100%;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
        height: 10rem;
        overflow: scroll;
    }

    &__item{
        padding: 2rem;
        font-size: var(--font-size-m);
        &:hover{
            background-color: var(--clr-primary);
            color: var(--clr-white);
        }
    }

    .form__input{
        width: 100%;
    }
}