.btn{
    &--link{
        padding: 0;
        color: var(--clr-black);
        text-decoration: none;
        font-size: var(--font-size-m);

        &:hover{
            color: var(--clr-primary);
        }

        &--active{
            color: red;
        }
    }
}