.btn{
    padding: 1rem 2rem;

    &--primary{
        color: var(--clr-white);
        border: 1px solid var(--clr-primary);
        background-color: var(--clr-primary);


        &:hover{
            background-color: transparent;
            border: 1px solid var(--clr-primary);
            color: var(--clr-primary);
        }
    }

    &--secondary{
        border: 1px solid var(--clr-secondary);
        background-color: var(--clr-secondary);
        color: var(--clr-white);

        &:hover{
            background-color: var(--clr-secondary);
            border: 1px solid var(--clr-secondary);
            color: var(--clr-white);
        }
    }
}