@import "./assets/scss/components/form";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:wght@300&family=Rubik&display=swap');

:root{
    --clr-primary:#C0BDA5;
    --clr-secondary:#F39C6B;
    --clr-white:#FFFFFF;
    --clr-black:#000000;

    --sp-s:1rem;
    --sp-m:1.5rem;
    --sp-l:2rem;
    --sp-xl:3rem;
    --sp-xxl:5rem;

    --font-size-s:1rem;
    --font-size-m:1.5rem;
    --font-size-l:2rem;
    --font-size-xl:3rem;
    --font-size-xxl:5rem;

    --font-family-title:'Nerko One', cursive;
    --font-family-subtitle:'Rubik', sans-serif;
    --font-family-paragraph:'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}